.friend {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e4e9f0;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avatar {
  border-radius: 4px;
  margin-right: 10px;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.online,
.offline {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}
